/* Filtered Categories — front-end styles
----------------------------------------------- */

/* Widget category page link */
p.azrcrv-fc-link {
	padding-top: 5px;
	font-style: italic;
	font-size: 1.1em;
	font-weight: 900;
}

/* Shortcode wrapper */
div.azrcrv-fc {
	border: none;
	width: 90%;
	margin: auto;
}
